
:root {
    --eerie-black: #1c1c1cff;
    --myrtle-green: #437878ff;
    --sweet-brown: #b33d3dff;
    --gainsboro: #e0dadaff;
    --maximum-blue-green: #34c2c2ff;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

body {
    background-color: var(--eerie-black);
    color: var(--gainsboro);
    font-family: 'Oswald';
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    align-self: center;
}

.heading {
    align-self: center;
}

.navigation {
    padding-right: 5vw;
}

h1 h2 {
    font-weight: 400;
}

p {
    margin-right: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

img {
    max-height: 30vh;
}

video {
    max-height: 30vh;
}

.thumbnail {
    transition-duration: 0.7s;
    margin: 0.5rem;
    object-fit: cover;
    height: calc(50vw /1.77);
    width: 50vh;
}

.everything {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
    justify-content: center;
    flex-direction: row;
    
    
}

.thumbnail:hover {
    object-fit: contain;
    max-height: auto;
    max-width: auto;
    transform: scale(2);
    transform-origin: center;
    transition-duration: 0.7s;

}

.sectionh {
    text-align: center;
}