
:root {
    --eerie-black: #1c1c1cff;
    --myrtle-green: #437878ff;
    --sweet-brown: #b33d3dff;
    --gainsboro: #e0dadaff;
    --maximum-blue-green: #34c2c2ff;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

body {
    background-color: var(--eerie-black);
    color: var(--gainsboro);
    font-family: 'Oswald';
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.heading {
    font-weight: 200;
    align-self: center;
    border-bottom-width: 0.25rem;
    border-bottom-style: solid;
    border-bottom-color: var(--myrtle-green);
}
/* Create Classes for nav hover effect*/

a {
    margin-right: 1rem;
    font-weight: 200;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--gainsboro);
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

a:hover {
    transition: 0.5s;
    border-bottom-color: var(--myrtle-green);
}

.everything {
    display: flex;
    flex-wrap: wrap;
    margin: 5vw;
    justify-content: center;
    flex-direction: row;  
    flex-shrink: 0; 
}

.gallery {
    width: 500px;
    height: calc(500px/1.77);
}

.thumbnail {
    transition-duration: 1.2s;
    margin: 0.5rem;
    object-fit: cover;
    border-radius: 0.1rem;
    border: transparent 0.2rem;
    border-style: solid;
    border-radius: 0.1rem;
}

.thumbnail:hover {
    border-color: var(--myrtle-green);
    transition-duration: 0.4s;
}

.expand {
    transition-duration: 0.8s;
    margin: 0.5rem;
    object-fit: cover;
    border-radius: 0.1rem;
    border: transparent 0.2rem;
    border-style: solid;
    border-radius: 0.1rem;
}

.expand:hover{
    object-fit: contain;
    max-height: auto;
    max-width: auto;
    transform: scale(2);
    transform-origin: center;
    transition-duration: 1.2s;
}

.textblock {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    max-height: 100vh;
    text-align: center;
    margin: 0.5rem;
    border-radius: 0.1rem;
    border: transparent 0.2rem;
    border-style: solid;
    border-radius: 0.1rem;
    font-size: 1.25rem;
    font-weight: 200;
    text-decoration: none;
}

h2 {
    font-weight: 200;
    text-decoration: none;
}